.a {
    /* 너비/높이는 블록레벨만 가능하다. */
    /* 너비 */ width: 100px;
    /* 높이 */ height: 100px;
    /* 배경 */ background-color: bisque;
}
.b {
    /* 인라인레벨은 너비/높이 지정이 불가능하다. */
    width: 100px;
    height: 100px;
    background-color: bisque;
}
.c {
    /* %단위는 부모 크기가 기준이다. */
    width: 50%;
    height: 100px;
    background-color: bisque;
}
.c > .c1 {
    width: 50%;
    height: 50%;
    background-color: burlywood;
}
.c > .c2 {
    width: 25%;
    height: 25%;
    background-color: chocolate;
}
.d {
    width: 100px;
    height: 100px;
    /* 테두리두께 */ border-width: 3px;
    /* 테두리종류 */ border-style: dashed;
    /* 테두리색상 */ border-color: black;
    /* 모서리곡률 */ border-radius: 10px;
}
.e {
    width: 100px;
    height: 100px;
    /* 테두리 단축속성 */ border: 1px dotted black;
    /* 전체 곡률 */                    border-radius: 10px;
    /* 11/5시 1/7시 */                 border-radius: 20px 0;
    /* 11시 1/7시 5시 (%모양) */       border-radius: 20px 0 20px;
    /* 11시 1시 5시 7시 (시계방향) */  border-radius: 10px 20px 30px 40px;
}
.image_box1 {
    /* box크기 = 배경image크기 */
    width: 100px;
    height: 76px;
    background-image: url(../images/attach.png);
    background-size: 100px 76px;
}
.image_box2 {
    /* box크기 > 배경image크기 */
    width: 200px;
    height: 152px;
    border: 1px solid black;
    background-image: url(../images/attach.png);
    background-repeat: no-repeat;
    background-position: center;
}
.image_box3 {
    /* box크기 < 배경image크기 */
    width: 100px;
    height: 38px;
    border: 1px solid black;
    background-image: url(../images/attach.png);
    background-size: contain;  /* contain : 너비/높이 중 작은 값에 맞춤 */
    background-repeat: no-repeat;
}
.image_box4 {
    /* box크기 < 배경image크기 */
    width: 100px;
    height: 38px;
    border: 1px solid black;  /* cover : 너비/높이 중 큰 값에 맞춤 */
    background-image: url(../images/attach.png);
    background-size: cover;
}
.image_box5 {
    width: 120px;
    height: 110px;
    background-image: url(../images/logos.png);
    background-position: left -600px top -190px;
}